### Symfony ###
/var/
/vendor/
/node_modules/
/public/bundles/
/.env.local
/.env.local.php
/.env.test.local
/phpunit.xml
/phpunit.xml.dist

### Logs ###
/*.log
/logs/
/*.cache

### IDE stuff ###
/.idea/
/.vscode/
/*.swp

### OS junk ###
.DS_Store
Thumbs.db

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
